## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

## IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

## Azure Functions
local.settings.json

## NuGet
*.nupkg
packages/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## OS
Thumbs.db
.DS_Store

## Deploy
Azure.PublishSettings
publish/
deploy.zip
